extends layouts/main.pug

block content
    .form-container
        form(action=routes.join, method="POST")
            .input-column 
                i.fas.fa-user-alt
                input(type="text", name="name", placeholder="Full Name", required=true)
            .input-column 
                i.fas.fa-envelope                
                input(type="email", name="email", placeholder="Email", required=true)
            .input-column 
                i.fas.fa-key       
                input(type="password", name="password", placeholder="Password", required=true)
            .input-column 
                i.fas.fa-key           
                input(type="password", name="password2", placeholder="Verify Password", required=true)
            input(type="submit", value="Create Account")
        include partials/socialLogin
