extends layouts/main.pug
include mixins/videoPlayer

block content
    .video-detail__container
        .video__player
            +videoPlayer({
                src:video.fileUrl
            })
        .video__info
            a(href=routes.editVideo(video.id)) 
                button Edit video
            h5.video__title=video.title
            .info__column 
                if video.views === 1
                    span.video__views 1 view
                else
                    span.video__views #{video.views} views
                span ·
                span.video__createAt #{video.createdAt.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}
            p.video__description=video.description
        .video__comments
            if video.comments.length === 1
                span.video__comment-number 1 comment
            else
                span.video__comment-number #{video.comments.length} comments